.Dashboard {
    display: flex;
}

main {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.mainContent {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}