.Dashboard {
    display: flex;
    background-color: white;
}
/* 
header {
    display: flex;
}

.user-section {
    display: flex;
    align-items: center;
}

.user-section img {
    width: 25px;
    height: 25px;
    padding-left: 2px;
} */

main {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.mainContent {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}