.order-parts {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.order-part {
    width: 120px;
    height: 50px;
}

/* Od recentOrders delot */

/* .orders-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders {
    display: flex;
    justify-content: center;
    gap: 17px;
}

.order {
    width: 114px;
    height: 117px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.order-title {
    font-size: 13px;
    font-weight: 500;
}

.info {
    font-size: 10px;
}

#unit {
    font-weight: 600;
}

#arrow {
    width: 30px;
    padding-left: 10px;
}

.pagination {
    display: flex;
    justify-content:space-evenly;
}

#pagination {
    width: 38px;
    padding-top: 20px;
    padding-bottom: 17px;
} */