.search-add {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-top: 20px;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-container input {
    width: 190px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding-right: 30px;
}

.search-container img {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-70%);
    width: 22px;
    height: 22px;
}

.add-button {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    background-color: #53A856;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add-button p {
    color: white;
    font-size: 0.85rem;
    font-weight: 300;
    margin-top: 12px;
}

.add-button img {
    width: 30px;
    height: 30px;
}