.search-add {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 80px;
    margin-top: 20px;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-container input {
    width: 180px;
    height: 35px;
    padding-left: 40px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    font-size: 14px;
    font-family: Poppins;
}

.search-container img {
    position: absolute;
    top: 18%;
    left: 8px;
    width: 22px;
    height: 22px;
}

.add-button {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #53A856;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.40);
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.add-button p {
    color: white;
    font-size: 0.85rem;
    font-weight: 200;
    margin-top: 12px;
    font-family: Poppins;
}

.add-button img {
    width: 2rem;
    height: 2rem;
}