.Inventory {
  display: flex;
}

.cards-section {
  display: flex;
  flex-direction: column;
}

.gridView {
  width: 900px;
  height: 450px;
  margin-left: 73px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 40px;
}

.listView {
  width: 800px;
  height: 500px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.scrollList {
  overflow-y: auto;
  max-height: 480px;
}

.scrollList::-webkit-scrollbar {
  width: 7px;
}

.scrollList::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 5px;
}

.scrollList::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.grid-list-view {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.grid-list-view button {
  border: none;
  cursor: pointer;
}

.activeButton {
  color: green; 
  border: none;
}