.Item-Card {
  width: 200px;
  height: 205px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.gridViewCard {
  width: 190px;
  height: 210px;
}

.listViewCard {
  width: 620px;
  height: 120px;
  margin-left: 80px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.gridViewCard
.itemCard-images {
  height: 115px;
  background-color: grey;
  border-radius: 10px 10px 0 0;
}

.listViewCard 
.itemCard-images {
  width: 190px;
  background-color: grey;
}

.custom-link-item {
  text-decoration: none;
}

.listViewCard
.itemCard-content {
  width: 500px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listViewCard
.title-p-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-link-title {
  text-decoration: none;
}

.custom-link-title h1 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-top: 7px;
  text-decoration: none;
}

.itemCard-content p {
  font-size: 12px;
  margin-left: 15px;
  margin-bottom: 1px;
}

.itemCard-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.itemCard-footer p {
  font-size: 13px;
}

.listViewCard
.itemCard-footer {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}

.listViewCard
.itemCard-footer p {
  font-size: 12px;
  padding-right: 30px;
  padding-top: 30px;
}

#itemCard-date {
  color: #333544;
  font-weight: 600;
}

.delete-btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.listViewCard
.delete-btn {
  margin-right: 5px;
}

.itemCard-content {
  display: flex;
  flex-direction: column;
}

.itemCard-content h1 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 12px;
  margin-top: 7px;
  text-decoration: none;
}

.itemCard-content p {
  font-size: 11px;
  margin-left: 12px;
  margin-bottom: 1px;
}

.footer-item-card {
    margin-right: 10px;
}

.footer-item-card {
  margin-top: 5px;
  float: right;
}