.Item-Card {
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.gridViewCard {
  width: 190px;
  height: 215px;
}

.listViewCard {
  width: 620px;
  height: 120px;
  margin-left: 80px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.gridViewCard
.itemCard-images img {
  width: 190px;
  height: 125px;
  border-radius: 10px 10px 0 0;
}

.listViewCard 
.itemCard-images img {
  width: 180px;
  height: 120px;
  padding-top: 6px;
  border-radius: 10px 0 0 10px;
}

.custom-link-item {
  text-decoration: none;
}

.listViewCard
.itemCard-content {
  width: 500px;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listViewCard
.title-p-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gridViewCard
.itemCard-content {
  height: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gridViewCard
.title-p-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.custom-link-title {
  text-decoration: none;
}

.custom-link-title h1 {
  font-size: 16px;
  margin-left: 15px;
  margin-top: 5px;
  text-decoration: none;
}

.itemCard-content p {
  font-size: 12px;
  margin-left: 15px;
  margin-bottom: 1px;
}

.footer-item-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-item-card p {
  font-size: 13px;
}


.listViewDivider p {
  width: 70px;
  font-size: 12px;
  padding-left: 70px;
}

#itemCard-date {
  color: #333544;
  font-weight: 600;
}

.delete-btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.listViewCard
.delete-btn {
  margin-right: 5px;
}

.itemCard-content {
  display: flex;
  flex-direction: column;
}

.itemCard-content h1 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 12px;
  margin-top: 7px;
  text-decoration: none;
}

.itemCard-content p {
  font-size: 11px;
  margin-left: 12px;
  margin-bottom: 1px;
}

.listViewDivider p {
  width: 100px;
  font-size: 12px;
  text-align: center;
  padding-left: 30px;
}

#itemCard-date {
  color: #333544;
}

.footer-item-card {
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}

.listViewCard
.footer-item-card {
  margin-top: 70px;
  margin-right: 5px;

}