#order-dialog {
    border: none;
    width: 300px;
    height: 310px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
}

.order-modal-title {
    width: 332px;
    height: 30px;
    border-radius: 20px 20px 0px 0px;
    background-color: #53A856;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.order-modal-title h1 {
    font-size: 16px;
    color: white;
    margin-left: 20px;
}

.order-modal-title button {
    background: none;
    border: none;
    cursor: pointer;
}

#custom-hr {
    width: 300px;
    border: 1px solid #999999;
}

.order-input-container {
    height: 50px;
}

.order-select-container {
    height: 30px;
    width: 290px;
    margin-top: 10px;
    font-family: Poppins;    
    border: none;
    color: grey;
    font-size: 16px;
}

.order-input-container input {
    width: 280px;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    font-family: Poppins;
}

.order-input-date {
    padding-top: 20px;
    padding-bottom: 15px;
}

.order-input-date input {
    width: 120px;
    height: 27px;
    border: 2px solid #999999;
    border-radius: 5px;
    font-family: Poppins;
}

hr {
    margin-bottom: 8px;
}