#orders-heading {
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding-bottom: 9px;
}

.orders-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders {
    display: flex;
    gap: 18px;
}

.order {
    width: 108px;
    height: 115px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.order-title {
    font-size: 13px;
    font-weight: 500;
}

.info {
    font-size: 10px;
}

#unit {
    font-weight: 600;
}

#arrow {
    width: 30px;
    padding-left: 20px;
}

.pagination {
    display: flex;
    justify-content:space-evenly;
}

#pagination {
    width: 38px;
    padding-top: 16px;
    padding-bottom: 8px;
}
