.signup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.login-section {
    padding: 25px;
    font-size: 14px;
}

.login-section button {
    width: 80px;
    background-color: #53A856;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
}

.Signup-form {
    margin: 0 auto;
    width: 480px;
    height: 440px;
    padding-top: 15px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.Signup-form h1 {
    font-size: 25px;
    text-align: center;
    padding-right: 30px;
    color: #53A856;
}

.signup-name, .signup-email, .signup-password {
    display: flex;
    flex-direction: column;
}

.Signup-form label {
    font-size: 13px;
    padding-bottom: 2px;
}

.Signup-form input {
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #53A856;
    border-radius: 10px;
}

.Signup-form button {
    width: 310px;
    height: 40px;
    margin-top: 15px;
    background-color: #53A856;
    color: white;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 10px;
}

.signup-info {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 50px;
}

.signup-info div {
    width: 260px;
    display: flex;
}

.signup-info img {
    width: 35px;
    height: 35px;
}

.signup-info p {
    font-size: 12px;
    padding-left: 5px;
    color: rgb(99, 99, 99);
}

.form-error {
    font-size: 10px;
    color: rgb(255, 95, 95);
}
