.App-navigation {
  width: 250px;
  height: 100%;
  background-color: #53a856;
  float: left;
}

.App-logo {
  width: 250px;
  height: 125px;
  align-self: center;
}

.Nav-list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
}
.Nav-list a {
  text-decoration: none;
  color: inherit;
}

.Nav-list img {
  width: 25px;
  padding: 8px;
}

.list-items,
.custom-item {
  background-color: rgba(255, 255, 255, 0.4);
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.custom-item {
  margin-top: 225px;
  padding-bottom: 10px;
}

.list-items:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}

.custom-item:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}

