.Reports-section {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.Activity-field, .Inventory-field {
    width: 1000px;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    color: #5C5C5C;
}

p {
    color: #5C5C5C;
    font-size: 15px;
    margin-top: 1px;
}

img {
    width: 30px;
}

#activity, #inventory {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 1px;
}

.link {
    text-decoration: none;
}