.Category-Card {
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.gridViewCard {
  width: 190px;
  height: 210px;
}

.listViewCard {
  width: 620px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gridViewCard .categoryCard-images {
  height: 115px;
  background-color: grey;
  border-radius: 10px 10px 0 0;
}

.listViewCard .categoryCard-images {
  width: 190px;
  background-color: grey;
}

.listViewCard .categoryCard-content {
  width: 500px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listViewCard .title-p-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-link-title {
  text-decoration: none;
}

.custom-link-title h1 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-top: 7px;
  text-decoration: none;
}

.categoryCard-content p {
  font-size: 12px;
  margin-left: 15px;
  margin-bottom: 1px;
}

.categoryCard-footer {
  width: 185px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 3px;
}

.categoryCard-footer p {
  font-size: 13px;
}

.listViewDivider {
  height: 50px;
  display: flex;
  align-items: center;
}

.listViewDividerLine {
  height: 95px;
  width: 100%;
  margin: 0;
  background-color: #000; 
  flex: 1;
  transform: rotateY();
}

.listViewCard .categoryCard-footer {
  width: 180px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}

.listViewCard .categoryCard-footer p {
  font-size: 12px;
  padding-right: 45px;
  padding-top: 30px;
  text-align: center;
}

#categoryCard-date {
  color: #333544;
  font-weight: 600;
}

.delete-btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.listViewCard .delete-btn {
  margin-right: 5px;
}
