@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  text-align: center;
}

.App-navigation {
  width: 250px;
  height: 720px;
  background-color: #53A856;
}

.App-logo {
  width: 220px;
  height: 122px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
